[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=%h/.config/niri/scripts/wifi_portal_check.sh
Restart=on-failure
