@import "colors.css";

* {
  border: none;
  border-radius: 5px;
  font-family: "JetBrainsMono Nerd Font Propo", "Noto Sans CJK SC";
  font-size: 16px; /* 1em（基准） */
  min-height: 0;
}

window#waybar {
  border-radius: 0px;
  background: @surface;
  color: @on_surface;
}

tooltip {
  background: @surface_container_high;
  border: 2px solid @outline;
  opacity: 1;
}

tooltip label {
  color: @on_surface;
  font-size: 0.89em; /* 原 16px */
}

#custom-applauncher {
  padding: 0px 5px;
  margin: 5px 3px 5px 3px;
  background-color: @primary;
  color: @on_primary;
}

#window {
  background-color: @surface_container_high;
  color: @on_surface;
  padding: 0px 5px;
  margin: 5px 3px 5px 3px;
}

#window label {
  font-size: 0.8em; /* 原 16px */
}

window#waybar.empty #window {
  background-color: @surface;
}

#network.speed {
  padding: 0px 5px;
  font-size: 0.7em; /* 原 16px */
  background-color: @surface_container_high;
  border-radius: 5px;
  color: @secondary;
  margin: 5px 3px 5px 3px;
}

#workspaces {
  background-color: @surface_container_high;
  padding: 0px 5px;
  margin: 5px 3px 5px 3px;
}

#workspaces button {
  padding: 0px 5px;
  color: @on_surface_variant;
  border-radius: 5px;
  transition: all 0.2s ease;
}

#workspaces button:hover {
  background: @surface_container_highest;
}

#workspaces button.active {
  color: @primary;
  background: @surface_container_highest;
}

#tray {
  padding: 0px 5px;
  background-color: @surface_container_high;
  margin: 5px 3px 5px 3px;
}

#tray menu {
  padding: 5px 5px;
  margin: 5px 3px 5px 3px;
  background-color: @surface;
  color: @on_surface;
}

#tray menu menuitem {
  background-color: transparent;
  color: @on_surface;
}

#tray menu menuitem:hover {
  background-color: @surface_container_high;
}

#custom-notification,
#custom-clipboard {
  background-color: @surface_container_high;
  color: @tertiary;
  padding: 0px 5px;
  margin: 5px 0px 5px 0px;
}

#custom-notification {
  border-radius: 5px 0px 0px 5px;
  margin: 5px 0px 5px 3px;
}

#custom-clipboard {
  border-radius: 0px 5px 5px 0px;
  margin: 5px 3px 5px 0px;
}

#custom-backlight-control,
#backlight,
#backlight-slider {
  background-color: @surface_container_high;
  color: @secondary;
}

#custom-backlight-control {
  padding: 0px 5px;
  margin: 5px 3px 5px 3px;
}

#backlight {
  padding: 0px 5px 0 3px;
  margin: 5px 3px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}

#backlight-slider {
  padding: 0px 3px 0 5px;
  margin: 5px 0px 5px 3px;
  border-radius: 5px 0px 0px 5px;
}

#backlight-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  box-shadow: none;
  background: none;
}

#backlight-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 5px;
  background: @surface;
}

#backlight-slider highlight {
  min-width: 0px;
  border-radius: 5px;
  background: @secondary;
}

#wireplumber,
#pulseaudio-slider,
#pulseaudio {
  background-color: @surface_container_high;
  color: @secondary;
}

#wireplumber {
  padding: 0px 5px;
  margin: 5px 3px 5px 3px;
}

#pulseaudio {
  padding: 0px 5px;
  margin: 5px 3px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}

#pulseaudio-slider {
  padding: 0px 5px;
  margin: 5px 0px 5px 3px;
  border-radius: 5px 0px 0px 5px;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  box-shadow: none;
  background: none;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 5px;
  background: @surface;
}

#pulseaudio-slider highlight {
  min-width: 0px;
  border-radius: 5px;
  background: @secondary;
}

#cpu,
#memory,
#power-profiles-daemon {
  background-color: @surface_container_high;
  color: @tertiary;
  padding: 0px 5px;
}

#cpu {
  border-radius: 5px 0px 0px 5px;
  margin: 5px 0px 5px 3px;
}

#memory {
  border-radius: 0px 0px 0px 0px;
  margin: 5px 0px 5px 0px;
}

#power-profiles-daemon {
  border-radius: 0px 5px 5px 0px;
  margin: 5px 3px 5px 0px;
}

#power-profiles-daemon.performance {
  color: @error;
}

#power-profiles-daemon.power-saver {
  color: #1aa052;
}

#network,
#bluetooth {
  background-color: @surface_container_high;
  color: @secondary;
  padding: 0px 5px;
  margin: 5px 0px 5px 0px;
}

#bluetooth {
  border-radius: 5px 0px 0px 5px;
  margin: 5px 0px 5px 3px;
}

#network {
  border-radius: 0px 5px 5px 0px;
  margin: 5px 3px 5px 0px;
}

#battery {
  padding: 0px 5px;
  margin: 5px 3px 5px 3px;
}

#battery {
  background-color: @surface_container_high;
  color: @tertiary;
}

#battery.critical:not(.charging) {
  background-color: @error;
  color: @on_error;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  background-color: @surface_container_high;
  color: @primary;
  padding: 0px 5px;
  margin: 5px 3px 5px 3px;
  font-weight: 700;
}

#custom-wlogout,
#custom-reboot,
#custom-lockscreen,
#custom-logout {
  color: @error;
  margin: 5px 3px;
  padding: 0px 5px;
  background-color: @surface_container_high;
}

#custom-reboot {
  margin: 5px 0px 5px 3px;
  border-radius: 5px 0px 0px 5px;
  padding: 0px 5px 0px 5px;
}

#custom-logout {
  margin: 5px 0px 5px 0px;
  border-radius: 0px;
}

#custom-lockscreen {
  margin: 5px 3px 5px 0px;
  border-radius: 0px 5px 5px 0px;
  padding: 0px 5px 0px 5px;
}
