* {
  font-family:
    JetBrainsMonoNerdFont, NotoSansCJK, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
}

.modules-left {
  border-radius: 30px;
  background-color: #241f31;
  padding: 0 6px;
}

.modules-center {
  border-radius: 30px;
  background-color: #241f31;
  padding: 0 3px;
}

.modules-right {
  border-radius: 30px;
  background-color: #241f31;
  padding: 0 6px;
}

tooltip {
  background-color: #241f31;
  border: 1px solid;
  border-radius: 15px;
}

#custom-power_profile,
#cpu,
#memory,
#pulseaudio,
#backlight,
#bluetooth,
#network,
#tray,
#battery,
#clock,
#window,
#workspaces {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 6px 0px 6px;
  background-color: transparent;
}

#workspaces {
  /* border: rgba(255, 255, 255, 0.2) solid 2px; */
  padding: 4px 12px;

  transition-property: background, color, border;
  transition-duration: 0.2s;
}

#workspaces button {
  border: none;
  border-radius: 0px;
  padding: 0px 0px;
  background: transparent;
  color: #ffffff;
  margin: 0 4px;
  min-width: 14px;

  transition-property: background, color, border, margin, padding;
  transition-duration: 0.2s;
}

#workspaces button:hover {
  /* background: rgba(255, 255, 255, 0.5); */
  color: #ffffff;
}

#workspaces button.empty {
  color: #ffffff;
}

#workspaces button.active {
  /* background: #ffffff; */
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
  margin-bottom: 1px;
  /* padding: 0 4px; */
}

#workspaces button.urgent {
  color: #eb4d4b;
  border-bottom: 3px solid #eb4d4b;
}

#custom-power_profile {
  color: #a6da95;
}

#cpu {
  color: #f0c6c6;
}

#memory {
  color: #c6a0f6;
}

#pulseaudio {
  color: #ed8796;
}

#backlight {
  color: #f5a97f;
}

#bluetooth {
  color: #8bd5ca;
}

#network {
  color: #eed49f;
}

#battery {
  color: #8aadf4;
}

#clock {
  color: #b7bdf8;
}

#window {
  color: #f4dbd6;
  margin-left: 4px;
}

#tray {
  /* border: rgba(255, 255, 255, 0.2) solid 2px; */
  color: transparent;
}
