@import "colors.css";

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font Propo", "Noto Sans CJK SC";
  transition: 0.3s;
  font-size: 14px; /* 1em（基准） */
}

trough highlight {
  background: @on_surface;
}

scale {
  margin: 0 0.5rem;
}

scale trough {
  margin: 0rem 1rem;
  min-height: 0.57rem;
  min-width: 5rem;
  border-radius: 0.9rem;
}

trough slider {
  margin: -0.71rem;
  border-radius: 0.9rem;
  border: 0.14rem solid rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease;
  background-color: @primary;
}

trough slider:hover {
  border: 0.14rem solid @primary;
}

trough {
  background-color: @surface_container;
}

/* notifications */

.notification-background {
  border: 0.1rem solid @surface_container_high;
  border-radius: 0.6rem;
  margin: 1.29rem;
  background: @surface_container_lowest;
  color: @on_surface;
  padding: 0;
}

.notification-background .notification {
  padding: 0.5rem;
  border-radius: 0.6rem;
}

.notification-background .notification.critical {
  border: 0.1rem solid @error;
}

.notification .notification-content {
  margin: 0.5rem;
}

.notification .notification-content overlay {
  /* icons */
  margin: 0.29rem;
}

.notification-content .summary {
  color: @on_surface;
}

.notification-content .time {
  color: @on_surface_variant;
}

.notification-content .body {
  color: @on_surface_variant;
}

.notification > *:last-child > * {
  min-height: 3.4em;
}

.notification-background .close-button {
  margin: 0.5rem;
  padding: 0.14rem;
  border-radius: 0.45rem;
  color: @on_error_container;
  background-color: @error_container;
}

.notification-background .close-button:hover {
  color: @on_error;
  background-color: @error;
}

.notification-background .close-button:active {
  color: @on_error;
  background-color: @error;
}

.notification .notification-action {
  border-radius: 0.5rem;
  color: @on_surface_variant;
  border: 0.07rem solid @outline_variant;
  margin: 0.29rem;
  padding: 0.57rem;
  font-size: 0.2rem; /* controls the button size not text size*/
}

.notification .notification-action {
  background: @surface_variant;
}

.notification .notification-action:hover {
  background: @surface_container_high;
}

.notification .notification-action:active {
  background: @surface_container_highest;
}

.notification.critical progress {
  background-color: @error;
}

.notification.low progress,
.notification.normal progress {
  background-color: @primary;
}

.notification progress,
.notification trough,
.notification progressbar {
  border-radius: 0.9rem;
  padding: 0.21rem 0;
}

/* control center */

.control-center {
  border: 0.1rem solid @outline_variant;
  border-radius: 0.6rem;
  background-color: @surface;
  color: @on_surface;
  padding: 1rem;
  margin: 0.8rem;
}

.control-center .notification-background {
  border-radius: 0.5rem;
  border: 0.07rem solid @outline_variant;
  margin: 0.29rem 0.71rem;
}

.control-center .notification-background .notification {
  border-radius: 0.5rem;
}

.control-center .notification-background .notification.low {
  opacity: 0.8;
}

.control-center .widget-title {
  padding-right: 0.1rem;
}

.control-center .widget-title > label {
  color: @on_surface;
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 0.5rem;
  color: @on_surface;
  background-color: @surface_container;
  border: 0.07rem solid @outline_variant;
  padding: 0.4rem 0.5rem;
}

.control-center .widget-title button:hover {
  background-color: @surface_container_high;
}

.control-center .widget-title button:active {
  background-color: @surface_container_highest;
}

.control-center .notification-group {
  margin-top: 0.71rem;
}

.control-center .notification-group:focus .notification-background {
  background-color: @surface_container;
}

scrollbar slider {
  margin: -0.21rem;
  opacity: 0.8;
}

scrollbar trough {
  margin: 0.14rem 0;
}

/* dnd */

.control-center-dnd {
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.control-center-dnd slider {
  background: @surface_container_high;
  border-radius: 0.5rem;
}

.widget-dnd {
  color: @on_surface_variant;
}

.widget-dnd > switch {
  border-radius: 0.5rem;
  background: @surface_container_highest;
  border: 0.1rem solid @outline_variant;
}

.widget-dnd > switch:checked {
  background: @primary;
}

.widget-dnd > switch slider {
  background: @outline;
  border-radius: 0.5rem;
  margin: 0.25rem;
}

.widget-dnd > switch:checked slider {
  background: @on_primary;
}

/* mpris */

.widget-mpris {
  padding: 0.6rem;
}

/* carousel indicator dots */
.widget-mpris carouselindicatordots {
  color: @outline_variant;
}

/* player container */
.widget-mpris-player {
  margin: 0.6rem;
  border-radius: 0.8rem;
  border: 0.1rem solid @outline;
}

/* title and subtitle */
.widget-mpris-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: @primary;
  margin-right: 0.5rem;
}
.widget-mpris-subtitle {
  color: @secondary;
  margin-right: 0.5rem;
}

/* album art image container */
.widget-mpris-player image {
  border-radius: 0.5rem;
  margin: 0.75rem 0 0 0.75rem;
}
/* album art */
.widget-mpris-album-art {
  background-color: @lightOP;
  opacity: 1;
}

/* control buttons */
.widget-mpris-player button {
  -gtk-icon-size: 2rem;
  margin: 0 1rem 1rem 1rem;
}
.widget-mpris-player button:hover {
  color: @tertiary;
}

/* blur background image */
.mpris-background {
  opacity: 0.3;
  filter: blur(0.5rem);
}
