layout {
    gaps 10

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        active-color "#f5bc6f"
        inactive-color "#9c8f80"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#f5bc6f"
        inactive-color "#9c8f80"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#f5bc6f"
        inactive-color "#9c8f80"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#f5bc6f80"
    }
}

overview {
	backdrop-color "#18120b"
}

