layout {
    gaps 10

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 3
        active-color "#99ccf9"
        inactive-color "#8c9198"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#99ccf9"
        inactive-color "#8c9198"
        urgent-color   "#ffb4ab"
    }
}

