layout {
    gaps 10

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        active-color "#805611"
        inactive-color "#817567"
        urgent-color   "#ba1a1a"
    }

    tab-indicator {
        active-color   "#805611"
        inactive-color "#817567"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#80561180"
    }
}

overview {
	backdrop-color "#fff8f4"
}

