/* * ~/.config/rofi/colors.rasi.template
 * Matugen template for Rofi
 */

* {
    background:                  #101418FF;
    background-alt:              #313539FF;
    foreground:                  #e0e2e8FF;
    selected-foreground:         #003351FF;
    selected:                    #99ccf9FF;
    outline:                     #8c9198FF;
    active:                      #d1bfe7FF;
    urgent:                      #ffb4abFF;
}
