[Unit]
Description=mihomo Service
After=network-online.target

[Service]
ExecStartPre=+/usr/sbin/setcap 'cap_net_admin,cap_net_bind_service,cap_net_raw,cap_sys_ptrace,cap_dac_read_search+ep' /usr/bin/mihomo
ExecStart=/usr/bin/mihomo -d /usr/local/share/mihomo
WorkingDirectory=/usr/local/share/mihomo
RestartSec=3
User=mihomo
Group=mihomo

[Install]
WantedBy=multi-user.target
